<%- include('./shared/header') %>

<div class="container">
  <h1 class="mt-5">Estudo de Sequelize com Express - Aplicação Node.js</h1>
  <p>
    Bem-vindo ao meu estudo de Sequelize com Express em uma aplicação Node.js.
    Este é o arquivo de visualização de índice com Bootstrap.
  </p>
  <!-- Adicione links para as rotas de usuário -->
  <a href="/users/create" class="btn btn-primary mt-3">Criar Novo Usuário</a>
  <a href="/users" class="btn btn-secondary mt-3">Lista de Usuários</a>
</div>

<%- include('./shared/footer') %>
