<%- include('../shared/header') %>

<div class="container">
  <h1>Criar Usuário</h1>
  <form action="/users" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="name" name="name" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password_hash" class="form-label">Senha:</label>
      <input
        type="password"
        class="form-control"
        id="password_hash"
        name="password_hash"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Adicionar Usuário</button>
  </form>
</div>

<%- include('../shared/footer') %>
